.solicsHovered{
	display:none !important;
}
.content-remessas{
	margin: 70px 0 0 0;
}

.progress { 
	position:relative; 
	width:100%; 
	border: 1px solid #CCC; 
	padding: 1px; 
	border-radius: 3px; 
	margin: 10px 0 0 0;
}
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }